<% provide(:title, "Все посты ") %>

<% if @vposts.count > 0 %>
	<h4 class='vpost c'><% if !params[:page].nil? %>Страница <%= params[:page] %><% else %>Все версии<% end %></h4>
<% end %>
<%= will_paginate @vposts %>

<ul class="vpost-list">
  <%= render @vposts %>
</ul>

<%= will_paginate @vposts %>