<% provide(:title, 'Инфо') %>

<h1>Информация</h1>
<p align="justify"><strong>Profit Sync</strong> - это Android приложение для синхронизации графика смен (обычный гуглодок, тестовый <a href="http://docs.google.com/spreadsheet/ccc?key=0Aq45JBctkJP4dFVDYlZkUnBmTmNuMmJMdjRZclNLVEE" target="_blank">тут</a>) с календарем в телефоне для службы поддержки сайта Центра Обслуживания Партнеров Рекламной Сетия Яндекса <a href="https://profit-partner.ru/">profit-partner.ru</a>. Летом 2014 ЦОПы РСЯ приказали долго жить, а посему приложение более не разрабатывается и не поддерживается. Все вопросы прошу задавать <a href="http://vk.com/malus" target="_blank">в контаче</a> или через <a href="/contact" target="_blank">обратку</a> :)</p>
<p>Сайт написан на <a href="http://rubyonrails.org/">Rails 4.0</a> в ознакомительных целях. Не является коммерческим и все такое, все коды по желанию могу предоставить кому угодно. Все распространяется as is, берите и делайте что угодно :)</p>