<% provide(:title, 'Инфо') %>

<h1>Информация</h1>
<p>Profit Sync - это Android приложение для синхронизации графика смен с календарем в телефоне для службы поддержки сайта <a href="https://profit-partner.ru/?r=4858941484af0dcf5d52703851d27648">profit-partner.ru</a></p>
<p>Сайт написан на <a href="http://rubyonrails.org/">Rails 4.0</a> в ознакомительных целях.</p>