<% if @posts.any? %>
	<table style="width:100%;"><tr>
	<td style="width:55%;">
		<div class="total">Всего версий: <%= @total %><%= link_to "просмотреть все", vposts_path, class: "link" %></div>
		<ul class="vpost-list">
			<%= render @posts %>
		</ul>
	</td>
	
	<td style="width:45%;vertical-align:top;padding-left:25px;">
		<div class="total">Возможные баги <%= link_to "сообщить о новом", contact_path, class: "link" %></div>
		<ul class="vpost-header buglist">
			<li>вылет сервиса при отключении/подключении интернет-соединения</li>
			<li>что-то еще :)</li>
		</ul>
	</td>
	</tr></table>
<% else %>
	Скоро все будет...
<% end %>