<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Сообщение от <%= @name %> ( <%= mail_to @umail, nil, subject: 'Profit Sync Feedback' %> )</h3>
    <p>
      <%= @data %>
    </p>
  </body>
</html>