// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$alink: #06c;
$ahover: #f63;

html {
  overflow-y: scroll;
}

body {
  padding-top: 10px;
  background:#ddd;
  
    font-size: 1.0em;
    font-family: Helvetica;  
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

#logo {
  font-size: 2.7em;
  font-weight: bold;
  
  float: left;
  color: $alink;
  letter-spacing: 2px;
  text-decoration: none;
  
  &:hover {
    color: $ahover;
    text-decoration: none;
  }
}

.container {
  border:2px solid #a1a1a1;
  padding: 0 20px 10px;
  background:#fff;
  border-radius:10px;
  width: 750px;
  margin: 0 auto;
}

.first-post {
  height: 80px;
  margin-bottom: 20px;
  padding-top:10px;
  
  p {
	color: #666;
    font-style: italic;
    margin-top: 56px;
  }
}

nav {
  float: right;
  
  a {
    font-size: 1.2em;  
    color: $alink;
    text-decoration: none;
	
	&:hover {
      text-decoration: none;
	  color: $ahover;
	}
  }
  
  ul {
    text-align: left;
    display: inline;
    list-style: none;
	
	li {
      margin-top: 15px;
	  margin-left: 30px;
	  display: inline-block;
	}
  }
}

.sign-in-form {
  width: 200px;
  margin: 0 auto;
  
  input {
	width: 200px;
	height: 20px;
	margin-bottom: 15px;
  }
  
	.sign-in {
		font-size: 1.2em;
		height: 40px;
		letter-spacing: 2px;
		border-radius:10px;
	}
}

.alert {
  padding: 10px 10px;
  border-radius:10px;
  width: auto;
  margin: 10px;
}

.alert-error {
  background: #FFAFAF;
}

.admin {
	padding: 10px;
	margin: -20px -10px;
	background: #333;
	
	a {
		color: $ahover;
		margin: 0 5px;
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
			color: $alink;
		}
	}
}