// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$alink: #06c;
$ahover: #f63;
$borderGray: #a1a1a1;

body {
  padding-top: 10px;
  background:#ddd;
  
    font-size: 1.0em;
    font-family: Arial;  
}

p {
  font-size: 1.0em;
  line-height: 1.7em;
}

a {
    color: $alink;
    text-decoration: none;
	
	&:hover {
      text-decoration: none;
	  color: $ahover;
	}
}

#logo {
  font-size: 2.8em;
  font-weight: bold;
  
  float: left;
  letter-spacing: 2px;
  margin-top: 15px;
  
  img {
	margin-right: 10px;
  }
}

.container {
  border:2px solid $borderGray;
  padding: 0 20px 10px;
  background:#fff;
  border-radius:10px;
  width: 750px;
  margin: 0 auto;
  -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
}

nav {
  float: right;
  
  a {
    font-size: 1.2em;
  }
  
  ul {
	padding-left: 0;
    text-align: left;
    display: inline;
    list-style: none;
	
	li {
      margin-top: 15px;
	  margin-left: 20px;
	  display: inline-block;
	}
  }
}

.first-post {
  height: 80px;
  margin-bottom: 20px;
  padding-top:10px;
  
  p {
	color: #666;
    font-style: italic;
    margin-top: 56px;
	text-align: right;
  }
}

.sign-in-form {
  width: 200px;
  margin: 0 auto;
  
  input {
	width: 200px;
	height: 20px;
	margin-bottom: 15px;
  }
  
	.sign-in {
		font-size: 1.2em;
		height: 40px;
		letter-spacing: 2px;
		border-radius:10px;
	}
}

.alert {
  padding: 10px 10px;
  border-radius:10px;
  width: auto;
  margin: 10px;
}

.alert-error {
  background: #FFAFAF;
}

.alert-notice {
  background: #FFE3A0;
}

.alert-success {
  background: #D3E992;
}

.admin {
	padding: 10px;
	margin: -18px -10px;
	background: #333;
	
	a {
		color: $ahover;
		margin: 0 5px;
		text-decoration: none;
		
		&:hover {
			text-decoration: none;
			color: $alink;
		}
	}
}

#facebox .content {
    width: 600px;
	padding: 10px 0;
}

.vpost {
	width: 90%;
	padding: 5px;
	margin: 20px auto 0;
	
	input[type=submit] {
		width: 100%;
		margin: 15px auto 0;
		height: 40px;
	}
	
	input {
		width: 99%;
	}
	
	.new-content {
		vertical-align: top;
		width: 98%;
		height: 100px;
		padding: 5px;
	}
	
	time {
		float:right;
	}
	
	li {
		list-style: none;
		margin: 5px 0;
	}

	ul li {	
		list-style-type: disc;
	}
	
	.content {
		margin: 20px;
	}
	
}

.vpost-header {
	border-bottom:2px solid $borderGray;
	border-radius: 5px;
	padding: 5px 10px;
	-webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.25);
}

.vpost-list {
	margin-left: -40px;
	
	li {
		list-style: none;
		margin: 5px 0;
	}
}

.c {
	margin: 0 auto;
	text-align: center;
}

.pagination {
	text-align: center;
	margin: 20px;
	
	a, em, span {
		border-bottom:2px solid $borderGray;
		border-radius: 5px;
		padding: 4px 8px;
		margin: 0 -2px;
		-webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
		-moz-box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
		box-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
	}
}
	
.link {
	float:right;
}

.buglist {
	margin:15px 0 0 0;
	padding-left:25px;
    font-size: 0.9em;
	text-align:justify;
}

.total {
	padding: 20px 0 0;
	font-weight:bold;
}

#error_explanation {
	ul {
		list-style: none;
		margin-left: -20px;
		color: red;
	}
}