<footer>
<div class="c">
<!--LiveInternet logo--><a href="http://www.liveinternet.ru/click"
target="_blank"><img src="//counter.yadro.ru/logo?26.6"
title="LiveInternet: показано число посетителей за сегодня"
alt="" border="0" width="88" height="15"/></a><!--/LiveInternet-->
</div>
</footer>